# SentEval data and .pyc files

.idea

# python
__pycache__/
*.py[cod]
*$py.class

# log files
*.log
*.txt

# data files
data/senteval_data*

bert/*
results/*
fasttext/*
venv/*
build/*
dist/*
SentEval.egg-info/**/*
infersent*.pkl